/* START: setting variables */
:root {
  --light-mode-bg-color: white;
  --light-mode-button-bg-color: black;
  --light-mode-color: black;
  --light-mode-color-green: darkgreen;
  --light-mode-preview-color: lightgray;
  --dark-mode-bg-color: #0d1117;
  --dark-mode-button-bg-color: #6e40c9;
  --dark-mode-color: lightgray;
  --dark-mode-color-green: green;
  --dark-mode-preview-color: #444;
}

body {  /* DEFAULT: light-mode */
  --theme-mode-bg-color: var(--light-mode-bg-color);
  --theme-mode-button-bg-color: var(--light-mode-button-bg-color);
  --theme-mode-color: var(--light-mode-color);
  --theme-mode-color-green: var(--light-mode-color-green);
  --theme-mode-preview-color: var(--light-mode-preview-color);
}

@media (prefers-color-scheme: dark) {
  body.no-mode {
    --theme-mode-bg-color: var(--dark-mode-bg-color);
    --theme-mode-button-bg-color: var(--dark-mode-button-bg-color);
    --theme-mode-color: var(--dark-mode-color);
    --theme-mode-color-green: var(--dark-mode-color-green);
    --theme-mode-preview-color: var(--dark-mode-preview-color);
  }
}

body.dark-mode {
  --theme-mode-bg-color: var(--dark-mode-bg-color);
  --theme-mode-button-bg-color: var(--dark-mode-button-bg-color);
  --theme-mode-color: var(--dark-mode-color);
  --theme-mode-color-green: var(--dark-mode-color-green);
  --theme-mode-preview-color: var(--dark-mode-preview-color);
}
/* END: setting variables */

body {
  background-color: var(--theme-mode-bg-color);
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  transition: all 0.3s linear;
}

p {
  color: var(--theme-mode-color);
  margin: 0;
  padding: 0;
}

#error-box {
  position: fixed;
  bottom: 3em;
  right: 0;
  padding: 0.5em;
  background-color: var(--theme-mode-bg-color);
  border: 1px solid red;
  border-radius: 0.4em;
}

#index-page {
  margin: auto;
  max-width: 700px;
}

#not-found-page {
  text-align: center;
}

#pending-events-box {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  border: 0;
  border-radius: 0.4em;
  background-color: #cce5ff;
}

#pending-events-box > p {
  color: var(--light-mode-color);
}

#theme-mode {
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--theme-mode-bg-color);
  display: flex;
  align-items: center;
  background-color: var(--theme-mode-button-bg-color);
  border-radius: 50%;
  margin: 1em;
  padding: 0.4em;
}

.message {
  display: flex;
  align-items: center;
  border: 1px solid var(--theme-mode-color);
  border-radius: 0.4em;
  margin: 1em;
  padding: 0.8em;
}

.message > p {
  flex-grow: 1;
  overflow: auto;
}

.message > svg,
.message > div > svg {
  color: var(--theme-mode-color);
  margin-left: 0.5em;
}

.message > svg.eraser {
  color: red;
}

.message.add {
  border-color: var(--theme-mode-color-green);
}

.message.add > p,
.message.add > svg {
  color: var(--theme-mode-color-green);
}

.message.preview > svg {
  color: var(--theme-mode-preview-color);
  cursor: not-allowed;
}

.button {
  cursor: pointer;
}

.input > input {
  box-sizing: border-box;
  width: 100%;
}
